@import url("a5.css");


body {
  margin: 0;
	font-family: sans-serif;
  text-align: justify;
}

p {
  width: 50%;
  padding: 5mm;
}

i {
  font-weight: bold;
  font-style: normal;
}

img {
  width: 50%;
}